---
import Pagination from '@/components/Pagination.astro'
import SparksList from '@/components/SparksList.astro'
import PageLayout, {
  type Props as PageLayoutProps
} from '@/layouts/PageLayout.astro'
import config from '@/theme.config'
import { getSparks } from '@/util/sparks'
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro'

export const prerender = true

export const getStaticPaths = (async ({ paginate }) => {
  const sparks = await getSparks()

  return paginate(sparks, { pageSize: config.sparksPerPage })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { page } = Astro.props

const frontmatter: PageLayoutProps['frontmatter'] = {
  title: 'Sparks',
  activeHeaderLink: 'Sparks'
}
---

<PageLayout {frontmatter}>
  <h1>
    {frontmatter.title}
    <span>{` (Page ${page.currentPage})`}</span>
  </h1>
  <SparksList sparks={page.data} />

  <Pagination slot="bottom" page={page} />
</PageLayout>
